#! /bin/bash

# TARGET

declare -a TARGETS=(
	# "X64_AMD_BULLDOZER"
	# "ARMV8A_ARM_CORTEX_A57"
	# "ARMV7A_ARM_CORTEX_A15"
	"GENERIC"
	"X64_INTEL_CORE"
	"X64_INTEL_SANDY_BRIDGE"
	# "X64_INTEL_HASWELL"
	)

declare -a LAS=(
	"HIGH_PERFORMANCE"
	"REFERENCE"
	# "BLASF_WRAPPER"
)

REF_BLAS=0

declare -a REF_BLASES=(
	# "OPEN_BLAS"
	# "BLIS"
	# "MKL"
	# "NETLIB"
	# "ATLAS"
)

REF_BLAS=0

# Debug

# Count wrong calls
# VERBOSE=0
# Stop on error
VERBOSE=1
# Print call signature
# VERBOSE=2
# Print all matrix involved in wrong call
# VERBOSE=3

# Build blasfeo library
BUILD_LIBS=1
# BUILD_LIBS=0

DEPLOY_LIBS=1
# DEPLOY_LIBS=0

MIN_KERNEL_SIZE=2x2
# MIN_KERNEL_SIZE=4x4

declare -a MIN_KERNEL_SIZES=(
	"2x2"
	"4x4"
	)

# LA routines
# Blas3
declare -a D_BLAS3_ROUTINES=(
	"GEMM|blasfeo_dgemm_nn"
	"GEMM|blasfeo_dgemm_nt"
	"GEMM|blasfeo_dsyrk_ln_mn"
	"SYRK|blasfeo_dsyrk_ln"
	"TRM|blasfeo_dtrsm_llnu"
	"TRM|blasfeo_dtrsm_rltu"
	"TRM|blasfeo_dtrsm_rltn"
	"TRM|blasfeo_dtrsm_rutn"
	"TRM|blasfeo_dtrmm_rutn"
	"TRM|blasfeo_dtrmm_rlnn"
	"TRM|blasfeo_dtrsm_lunn"
	)
